.sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    width: 15%;
}

.schoolTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5px;
}

.studentImg {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.studentMeta {
    display: flex;
    font-size: 0.8rem;
}

.studentInfo {
    padding: 0 10px;
}

.studentRegistration {
    text-align: center;
    margin: 7px 0;
}

.navList {
    display: flex;
    flex-direction: column;
}

.itemLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemLink > span {
    font-size: 1.1rem;
}

.pageContent {
    margin-left: 15%;
    background-color: lightgray;
    height: 100vh;
    overflow: hidden;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 50px 30px;
}

.card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.cardHeader {
    text-align: center;
    background-color: var(--primary);
    color: white;
}

.cardBody {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logoutBtn {
    font-size: 10px;
    cursor: pointer;
    color: white;
    background-color: var(--primary);
    padding: 5px;
}